# User Testing Report

User testing was conducted by Stephanie on October 24th between the times of 4pm and 6pm with the following participants:

- Alyster Mahoney
- Nick Appolon
- Thomas J Bradley

## Tasks

1. Go to the homepage
2. Learn more about the Porsche Cayman
3. Check out the site's Twitter page.

---

## Individual Results & Observations

### Alyster Mahoney

- Fix logo and slider links
- Get rid of the slider to avoid headache *suggestion
- "Why can't I see the logo?"
- Likes the layout but needs to be styled similarly to visual style.

### Nick Appolon

- He clicked on the link as expected.
- He liked the visual and prefers the new font choice.
- "Is the 'Home' and the Logo supposed to be beside each other?"
- Liked the layout of the site.

### Thomas J Bradley

- He clicked on the link as expected.
- He had trouble navigating my website.
- "How are these different models structured in your website?"
- _posts (site.categories) would allow me to list my model types automatically and alphabetically.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Logo needs fixing.

### Serious, Causes Frustration, May Hinder Completion

- The links for the slider need to work.

### Minor, Annoying, Won’t Hinder Completion

- Consistency of layout based on visual style 1.

