@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html,
body {
  height: 100%;
}

html {
  background-color: #ccc;
  font: normal 100%/1.4 'Dosis',sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: auto;
  background-color: #fff;
}

p {
  padding: 0 5%;
}

h1{
  font-style: 700;
  text-align: center;
}

h3 {
  padding: 0 5%;
}


ul {
  margin: 0 0 3em;
}

.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.logo {
  width: 64px;
  height: 64px;
  display: inline-block;
  background-image: url("../img/placeholder.jpg");
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -90px;
  /* Pad bottom by footer height */
  padding: 0 0 90px;
}

#footer {
  height:90px;
  background-color: #666;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav {
  margin: 0;
  overflow: hidden;
  padding: 5px;
  position: relative;
  z-index: 15;

  background-color: #666;
}

.nav li {
  display: inline-block;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: inline;
  padding: 0.25rem 20px;

  border: 0;

  color: #fff;
  text-align: center;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
  background-color: #333;

  color: #fff;
}

.container {
  width: auto;
  height: 10%;
  padding: 10px -5px;
}
