
  <!--<ul class="list-group">
    <li class="list-group-item">
      <a href="http://twitter.com" class="icon-link">
        <i class="icon i-32 i-twitter"></i>
        <span class="icon-text">Twitter</span>
      </a>
    </li>
      <li class="list-group-item">
      <a href="http://facebook.com" class="icon-link">
        <i class="icon i-32 i-facebook"></i>
        <span class="icon-text">Facebook</span>
      </a>
    </li>
    <li class="list-group-item">
      <a href="http://googleplus.com" class="icon-link">
        <i class="icon i-32 i-googleplus"></i>
        <span class="icon-text">Google +</span>
      </a>
    </li>
    <li class="list-group-item">
      <a href="http://pinterest.com" class="icon-link">
        <i class="icon i-32 i-pinterest"></i>
        <span class="icon-text">Pinterest</span>
      </a>
    </li>
  </ul> -->
<div>
  <ul class="list-group">
    <li class="list-group-item-inline">
      <a href="http://twitter.com" class="icon-link">
        <i class="icon i-16 i-twitter"></i>
        <span class="icon-text">Twitter</span>
      </a>
    </li>
      <li class="list-group-item-inline">
      <a href="http://facebook.com" class="icon-link">
        <i class="icon i-16 i-facebook"></i>
        <span class="icon-text">Facebook</span>
      </a>
    </li>
    <li class="list-group-item-inline">
      <a href="http://googleplus.com" class="icon-link">
        <i class="icon i-16 i-googleplus"></i>
        <span class="icon-text">Google +</span>
      </a>
    </li>
    <li class="list-group-item-inline">
      <a href="http://pinterest.com" class="icon-link">
        <i class="icon i-16 i-pinterest"></i>
        <span class="icon-text">Pinterest</span>
      </a>
    </li>
  </ul>
</div>
<!--
  <ul class="list-group">
    <li class="list-group-item list-group-item-inline">
      <a href="#" class="icon i-32 i-twitter ir">
        Twitter
      </a>
    </li>
    <li class="list-group-item list-group-item-inline">
      <a href="#" class="icon i-32 i-facebook ir">
        Facebook
      </a>
    </li>
    <li class="list-group-item list-group-item-inline">
      <a href="#" class="icon i-32 i-googleplus ir">
        Google +
      </a>
    </li>
    <li class="list-group-item list-group-item-inline">
      <a href="#" class="icon i-32 i-pinterest ir">
        Pinterest
      </a>
    </li>

  </ul>-->
