<ul class="list-group">
  <li class="list-group-item list-group-item-inline">
    <a href="#" class="icon i-32 i-twitter ir">
      Twitter
    </a>
  </li>
  <li class="list-group-item list-group-item-inline">
    <a href="#" class="icon i-32 i-facebook ir">
      Facebook
    </a>
  </li>
  <li class="list-group-item list-group-item-inline">
    <a href="#" class="icon i-32 i-googleplus ir">
      Google +
    </a>
  </li>
  <li class="list-group-item list-group-item-inline">
    <a href="#" class="icon i-32 i-pinterest ir">
      Pinterest
    </a>
  </li>
</ul>
