<ul>
  <li class="list-group-item list-group-item-inline">
    <a href="https://twitter.com/" class="icon i-twitter ir">
      Twitter
    </a>
  </li>
  <li class="list-group-item list-group-item-inline">
    <a href="https://facebook.com" class="icon i-facebook ir">
      Facebook
    </a>
  </li>
  <li class="list-group-item list-group-item-inline">
    <a href="https://google.com" class="icon i-googleplus ir">
      Google +
    </a>
  </li>
  <li class="list-group-item list-group-item-inline">
    <a href="https://pinterest.com" class="icon i-pinterest ir">
      Pinterest
    </a>
  </li>
</ul>
