<div class="slider-wrapper theme-default">
  <div id="slider" class="nivoSlider">
    <a href="/car.html"><img src="../img/models/cayman.jpg" class="slider-image" alt="Porsche consumer model · Cayman" title="Cayman"/></a>
    <a href="#"><img src="../img/models/911-carrera-s.jpg" class="slider-image" alt="Porsche consumer model · Nine Eleven Carrera S" title="911 Carrera S"/></a>
    <a href="#"><img src="../img/models/918-spyder.jpg" class="slider-image" alt="Porsche concept model · Nine Eighteen Spyder" title="918 Spyder"/></a>
  </div>
</div>

