@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html,
body {
  height: 100%;
  font: normal 100%/1.5 'Lato', sans-serif;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background-image: url('../img/background.png');

  color: #808080;
  background-color: #ccc;
}

body {
  margin: 0 auto;
  padding: 0;
  width: auto;
  max-width: 700px;
}

p {
  padding: 8px;
}

/*Old Browsers to listen to media queries*/
@media only screen and (min-width: 320px) {
  body {
    max-width: none
  }
}

/*HEADER*/

header,
.header,
nav {
  background-color: #e2e2e2;
  background-color:rgba(255,255,255,0.25);
  box-shadow: -1px 1px 4px #a9a9a9;
  border-radius: .125em;
}

header {
  text-align: center;
  padding: .5em;
  margin: 8px;
}

/*CONTENT*/

.flex-img {
  width: 100%;
  padding: 0;
  border-radius: .125em;
}

.header {
  background-color:rgba(255,255,255,0.25);
  padding: 8px;
}

.slider-p {

  margin: 1rem 5rem 1rem 5rem;
  padding: 8px;
  box-shadow: -1px 1px 4px #a9a9a9;
  border-radius: .125em;
  background-color:rgba(255,255,255,0.25);
}

@media only screen and (min-width: 15em){
  .slider-p {
    margin: 1em 8px;
  }
}

@media only screen and (min-width:38em){
  header {
    width: 15em;
    top:0;
    left:0;
    position: fixed;
  }
  .index {
    margin-left: 13.5em;
    padding:0;
  }
}

@media only screen and (min-width: 40em){
  header {
    width: 15em;
    top:0;
    left:0;
    position: fixed;
  }
  .index {
    margin-left: 14.5em;
    padding:0;
  }
}



/*HEADINGS*/

h1,
h2 {
  color: #d5a919;
  font: 900 160%/1.5 'Playfair Display', serif;
  padding: 8px;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

ul {
  padding: 0;
  text-align: center;
}

.btn {

}

.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.logo {
  margin: 0 auto ;
  display: inline-block;
}

.logo-image {
  max-width: 100px;
  display: block;
  margin: 0.75em auto;
  background-repeat: no-repeat;
}


footer {
  background-color: #e2e2e2;
  background-color:rgba(255,255,255,0.4);
  padding: 1.5em 1em;
  margin: 8px;
  box-shadow: -1px 1px 4px #a9a9a9;
  border-radius: .25em;

  bottom: 0;
  width: 100%;
}

footer ul li {
  text-align: center;
  margin: .125em;
}

@media only screen and (min-width: 40em){
  footer {
    width: 25%;
    left:0;
    bottom:0;

    position:fixed;
  }
}

@media only screen and (min-width: 52em){
  .index {
    margin-left: 15.5em;
  }

}

.nav {

}

nav {
  margin: 0;
  overflow: hidden;
}

nav ul {
  top: 1rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  padding: 0 1em;
  background-color: #606060;
  margin: 0 -8px;
  background: rgb(237,237,237); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 49%, rgba(237,237,237,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(49%,rgba(255,255,255,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(255,255,255,1) 49%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(255,255,255,1) 49%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(255,255,255,1) 49%,rgba(237,237,237,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(237,237,237,1) 0%,rgba(255,255,255,1) 49%,rgba(237,237,237,1) 100%); /* W3C */
}

a {
  text-decoration: none;
  list-style-type: none;
  margin: 0 auto;
  color: #ccc;
}

nav li a {
  font-style: ;
  display: block;
  margin: 0;
  padding: 1em 0;
  color: #666;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: inline;
  padding: 2em;

  border: 0;

  color: #d5a919;
  text-align: center;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
  background-color: #ccc;
  color: #fff;
}

.container {
  width: auto;
  height: 10%;
  padding: 10px -5px;
}

.errbg {
  background-color: #d5a919;
}

.error {
  font: 900 150%/1.5 'Lato', sans-serif;
}

/* ACCESSIBILITY */

.icon {
  background: transparent url("../img/icon.svg") no-repeat left top;
}

/* Depends on Modernizr */

.no-inlinesvg .icon {
  background-image: url("../img/icon.png");
}

.errbg {
  background-color: #d5a919;
  margin-top: 15em;
 }

 .error {
  font: 900 150%/1.5 'Lato', sans-serif;
  font: 900 300%/1.5 'Lato', sans-serif;
}

.404 {
  width: 100%;
  margin-top: 10em;
}
