.icon {
  display: inline-block;
  background: transparent url("../img/icons/icon-sprites.png") no-repeat 0 0;
  height: 38px;
  width: 38px;
}

.icon-text {
  border-bottom: 1px solid rgba(102, 102, 255, 0.3);
}

.icon-link {
  text-decoration: none;
  color: #66f;
}
/*
.i-16 {
  width: 16px;
  height: 16px;
}

.i-32 {
  width: 32px;
  height: 32px;
}

.i-38 {
  width: 38px;
  height: 38px;
}*/

.i-twitter {
  background-position: -38 0;
}

.i-facebook {
  background-position: 0 -38;
}

.i-googleplus {
  background-position: -38 -38;
}

.i-pinterest {
  background-position: -40 -40;
}

