---
layout: default
meta: Porsche models. Consumer, concept and racing models.
---
<div class="">

  <div class="">
    <h1> {{ page.name }} </h3>
  </div>

  <div class="">
    <div class="slider-wrapper theme-default">
      <div id="slider" class="nivoSlider">
          {% for image in page.slideImages %}
            <img src="{{site.baseurl}}{{image}}" class="slider-image" alt="">
          {% endfor %}
      </div>
    </div>
  </div>

  <div class="">
    <div class="">
      {{page.class}}
      <ul>
        {% for type in page.engine %}
          <li>{{type}}</li>
        {% endfor %}
      </ul>
      {{content}}
    </div>
  </div>
</div>

