<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Porsche Guide</title>
  <link href="../css/general.css" rel="stylesheet">
  <link href="../css/grids.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Dosis:300,500,600' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
    <h1>Porsche Afficionado's Guide</h1>
      <nav class="nav-bar">
        <li><a href="{{site.baseurl}}/index.html">Home</a></li>
        <li><a href="{{site.baseurl}}/about.html">About</a></li>
        <li><a href="{{site.baseurl}}/models.html">Models</a></li>
      </nav>
  </header>

    {{content}}

  <footer>© 2013 Stephbydesign</footer>
</body>
</html>
