<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Porsche aficionado's guide to production and concept models.</title>

  <meta name="description" content="{{page.meta}}">

  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link href="{{site.baseurl}}/css/porsche.css" rel="stylesheet">

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900' rel='stylesheet'>
</head>

  <body id="top">

    <div class="grid">

      <header class="unit unit-s-1 unit-m-1 unit-l-1-4">
        <div class="logo">
          <a href="{{site.baseurl}}/index.html" class="logo-image ir">Home</a>
        </div>
        <nav>
          <ul class="unit-spacer">
            <li><a href="{{site.baseurl}}/about.html" class="">About</a></li>
            <li><a href="{{site.baseurl}}/models.html" class="">Models</a></li>
          </ul>
        </nav>
      </header>

      <div class="unit unit-s-1 unit-m-1 unit-l-3-4">

        {{content}}

      </div>
    </div>

    <footer>
        {% include icons.html %}
    </footer>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="{{site.baseurl}}/js/porsche.js"></script>

  </body>
</html>
